/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

/* Root Variables */
:root {
  --primary-color: #fff;
  --secondary-color: #0e88cd;
  --secondary-color-dark: #1c2f81;
  --text-light: #d1d5db;
  --black: #000000;
  --max-width: 1200px;
  --e-global-color-primary: #6ec1e4;
  --e-global-color-accent: #61ce70;
  --e-global-color-11658cc4: #23a455;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--black);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--black);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--e-global-color-11658cc4);
  transition: 0.3s;
}

.link a:hover::after {
  width: 50%;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 6rem;
  color: var(--secondary-color);
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--secondary-color);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--secondary-color);
  opacity: 0.1;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin: auto;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
  z-index: 1;
}

.explore__grid,
.section__container {
  overflow: visible; /* Ensure content is not cut off */
}

.explore__card:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color-dark);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--primary-color);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--primary-color);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color-dark);
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 500px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  border-radius: 10px;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

.join__image {
  margin-top: 4rem;
  position: relative;
}

.join__image img {
  border-radius: 10px;
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--black);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

.join__card p {
  color: var(--text-light);
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color); /* Corrected */
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--e-global-color-accent);
  border-color: var(--secondary-color-dark);
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.price__card p {
  margin-bottom: 0.75rem;
  color: var(--primary-color);
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.price__btn {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.price__btn:hover {
  color: var(--black);
  background-color: var(--secondary-color);
}

.review {
  background-color: var(--primary-color);
}

.review__container {
  display: flex;
  gap: 2rem;
}

.review__container > span {
  font-size: 6rem;
  color: var(--secondary-color);
  opacity: 0.5;
}

.review__content {
  flex: 1;
}

.review__content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
}

.review__content p {
  max-width: 800px;
  margin-bottom: 2rem;
  color: var(--black);
}

.review__rating span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.review__footer {
  margin-top: 0.3rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.review__member {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.review__member img {
  max-width: 120px;
  border-radius: 100%;
}

.review__member__details h4 {
  margin-bottom: 0;
}

.review__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review__nav span {
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}


summary {
  width: 100%;
  padding: 15px;
  background-color: var(--e-global-color-primary);
  color: #fff;
  border: none;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

summary:hover {
  background-color: var(--e-global-color-accent);
}

details[open] summary::after {
  content: " ▲";
}

summary::after {
  content: " ▼";
  float: right;
}


.faq-section {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  width: 100%;
  padding: 15px;
  background-color: var(--e-global-color-primary);
  color: #fff;
  border: none;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.faq-question:hover {
  background-color: var(--e-global-color-accent);
}

.faq-answer {
  display: none;
  padding: 15px;
  border-left: 5px solid var(--e-global-color-primary);
  border-radius: 0 0 5px 5px;
  transition: max-height 0.4s ease-out, padding 0.4s ease;
  overflow: hidden;
}

.faq-answer p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

.faq-answer a {
  color: var(--e-global-color-accent);
  text-decoration: none;
}

.faq-answer a:hover {
  text-decoration: underline;
}

/* Footer Container Grid Setup */
.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  gap: 2rem;
  background-color: var(--e-global-color-primary);
  padding: 35px;
  z-index: 1;
}

.footer__logo {
  max-width: 350px;
  margin-bottom: 2rem;
}

.footer__col {
  display: flex;
  flex-direction: column; /* Ensure each column aligns its children vertically */
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--black);
}

/* Social icons */
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--black);
  background-color: var(--secondary-color);
}

/* Text styling */
.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: var(--black);
  transition: color 0.3s;
}

.footer__col > a:hover {
  color: var(--e-global-color-11658cc4);
}

/* Contact list */
.footer__col li {
  list-style: none;
  margin-bottom: 1rem;
  color: var(--black);
  display: flex;
  align-items: center;
}

.footer__col li i {
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer__col li a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__col li:hover i,
.footer__col li:hover a {
  color: var(--e-global-color-11658cc4);
}

/* Footer Bar */
.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--black);
}

/* Subscription form */
.footer__subscribe {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer__subscribe input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 200px;
}

.footer__subscribe button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer__subscribe button:hover {
  background-color: var(--e-global-color-11658cc4);
}

@media (max-width: 1200px) {
  .nav__logo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    list-style: none;
    padding: 0;
    background-color: var(--secondary-color); /* Adapta el color de fondo */
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }

  nav a {
    color: var(--primary-color) !important; /* Adapta el color del texto */
    margin: 15px 0;
    font-size: calc(1.2rem + 1vw);
    transition: color 0.3s ease-in-out;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  #sidebar-active:checked ~ .nav__links {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    grid-area: 1/1/2/2;
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .class__image {
    min-height: 500px;
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .review__container {
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {

  
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .join__container {
    margin-bottom: 15rem;
  }

  .join__grid {
    width: 100%;
    margin: 0;
    bottom: -20rem;
  }

  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .review__container {
    flex-direction: column;
    gap: 0;
  }

  .review__footer {
    flex-direction: column;
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__col {
    margin-bottom: 2rem;
  }

  .footer__bar {
    text-align: center;
  }
}
